<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link rel="stylesheet" href="about-us.component.css">
<title>Dream Factory of St. Louis</title>
<head>

	<link rel="stylesheet" href="donation.css">

</head>
<body>
  


<div id = "backgroundPic">


	<div id = "donateBlock">
	
		<h1>Donate Now</h1>
		<p>Over the years, we've granted the dreams of many children with critical or chronic illnesses. However, granting them would not be possible without your donations. No matter how large or small, any support from our generous donors are always appreciated and help us continue to do what we do.</p>

		<p>We welcome all levels of support. Make a tax-deductable donation today and make a child's with come true!</p>

		
		<button>DONATE</button>

	</div>


</div>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


</body>




</html>
