/*@font-face{
	
	font-family: poppins-light;
	src: url(fonts/poppins-light.ttf);
}

@font-face{
	font-family: poppins-medium;
	src: url(fonts/poppins-medium.ttf);
}*/
@font-face {
  font-family: Poppins;
  src: 'https://fonts.googleapis.com/css?family=Poppins' format("opentype");
}
*{
  font-family: "Poppins", Arial;
}



body{
	background-color: #28B5DE;
}

#backgroundPic{
  
  padding-top: 10%;
	overflow: hidden;
	height: 10%;
	width: 100%;
	border-left: 0px;
	border-right: 0px;
	margin-left: 0px;
	margin-right: 0px;
	background-image: url("https://b1.culture.ru/c/721258.jpg");
}

h1{
	margin-left: 5%;
/*	font-family: "poppins-medium";*/
	color: #30ABCE;

}

p{
/*	font-family: poppins-light;*/
  color:black;
}

#donateBlock{
  
  width: 45%;
  max-width: 400px;
  min-width: 300px;
  height: 15%;
  
  padding: 10px 30px;
  padding-bottom: 20px;
  margin: 5%;
  margin-top: 5%;
  background-color: white;
  border-radius: 5px;
  /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);

}

button{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  background-color:#4ce0d4;
  border: none;
  padding: 3% 6%;
  border-radius: 5px;
  color: white;
  transition-duration: 0.4s;
  box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.15),-1px -1px 5px 1px rgba(0,0,0,0.15);
  /*font-family: poppins-light;*/
}

button:hover{
	background-color: #2CBCBB;
	color:white;

}
