<title>Donation Page </title>
<body>
  <h1>
    Your Contribution Would Mean a Lot to Us...
  </h1>
  <div>
    <form name = "form1" [formGroup] = "myForm" action = "" method = "POST">
      <div>
        <label for = "name">Name</label>
        <input type = "text" name = "name" id = "name" placeholder = "John Doe"/>
        <label for = "email">Email:</label>
        <input type = "email" name = "email" id = "email" placeholder = "example@email.com"/>
        <label for = "amount">Amount:</label>
        $
        <input type = "number" min = "5" step = "5" name = "amount" id = "amount" placeholder = "Donation Amount"/>
      <h2>
        Payment
      </h2>
      <label for = "card">Card Number:</label> 
                    <input type = "number" name="card" id="card" placeholder = "1111-2222-3333-4444"><br>

       <input type = "date" name ="day" id="day" placeholder = "MM/YY" ><br>
                    <input type = "text" name ="cvc" id="cvc" placeholder="CVV"><br>
                    <label for = "first">First Name:</label>
      <input type = "text" name="first" id="first">
                    <label for = "last">Last Name:</label>
                    <input type="text" name="last" id="last"><br>
                    <label for="address">Address:</label>
                    <input type="text" name="address" id="address"><br>
                    <label for="country"></label>

          <input type="text" name="country" id="country" placeholder="United States"><br>
                    <label for="zip">Zip Code:</label>
                    <input type="number" name="zip" id="zip" max="99999"> 
                    <label for="city">City:</label>
                    <input type="text" name="city" id="city">
                    <label for = "state">State:</label>
                    <input type="text" name="state" id="state"><br>
                    <label for="phone">Phone Number:</label>
                    <input type="number" name="phone" id="phone">

      </div>
      <input type= "submit" value= "Donate">
    </form>
  </div>
</body>