<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Dream Factory of St. Louis</title>

</head>
<body>
<img src="dreamFactoryLogo.jpg" alt="Dream Factory Logo" id="dFLogo">
<div class="bar">
<button onclick="window.location.href = 'https://w3docs.com';">Home</button>
<button onclick="window.location.href = 'https://w3docs.com';">About Us</button>
<button onclick="window.location.href = 'https://w3docs.com';">Want to Help?</button>
<button onclick="window.location.href = 'https://w3docs.com';">Events</button>
<button onclick="window.location.href = 'https://w3docs.com';">Contact Us</button>
<button onclick="window.location.href = 'https://w3docs.com';">Donate</button>
</div>

<div class="image-div">
<img src="https://thumbs.dreamstime.com/z/child-running-beach-summer-vacation-happy-kid-playing-beach-sunset-time-boy-striped-t-shirt-seaside-120761177.jpg">
</div>

<div class="img-text">
<strong>Granting hopeful children<br/>with critical illnesses their<br/>wishes.</strong>
</div>


<div class = "middle">
  <p id = "FoundingParagraph">After being founded in 1983, <br/>the Dream Factory of St. Louis has granted <br/> over 2000 dreams. </p>

</div>


<div class="who-text">
<h2>Who we are</h2>
<p>As children, we are all big dreamers. We've all had wishes we hope to be granted from visiting DisneyLand to meeting our heroes. At some point, if we're fortunate enough, we get our wishes granted. However, for children who struggle with critical or chronic illnesses, the road may be too short or difficult for them to see their dreams come true. Our mission is to grant hopeful children with critical illnesses their wishes so that we can bring a little ray of light and hope into their lives.</p>
</div>


<div class="contact-text">
<h2>Contact</h2>
<p>We would love to hear from you!<br/>Please fill out this form and we will get in touch with you shortly</p>
</div>