@font-face {
  font-family: Poppins;
  src: 'https://fonts.googleapis.com/css?family=Poppins' format("opentype");
}

body {
  box-sizing: border-box;
  font-family: "Poppins", Arial;
  background-color: rgb(255, 242, 134);
}

p{
    color: black;

}

#missionStatement {
 margin-top: 35%;
}

.aboutbox{
  background-color: white;
  padding: 50px;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 50px;
  align-content: center;
}

.minibox {
    padding-left: 20px;
    border-left:2px solid #FFDA00;
}

/*form bttns*/

#ontoptext {
  width: 300px;
}


/*

#dFLogo{
	height: 50px;
	width: 100px;
}
.bar{
	float: right;
	display: inline;
}

*/

.who-text,.contact-text{
	margin-left:5%;
  min-width: 50%;
}
.who-text{
	max-width: 47%;
}
.contact-text{
	max-width: 20%;
}
.middle-text{
	text-align: center;
	margin-top: 45%;
  
}
.image-div{
	max-height: 20%;
  margin-bottom: 25px;
}
.image{
	max-height: 50%;
	width: 100%;
  padding: 0px;
  margin: 0px;
}
.contact-text,.q-form{
	display: inline-block;
}
.q-form{
	margin-left: 55%;
}
/*
.q-form{
	position: relative;
	margin-left: 55%;
}

.q-form:before, 
.q-form:after { 
	content: " "; display: table; 
}

.col {
	float: left;
}

.lastName, .firstName{
	max-width: 40%;
}
*/
#image-text{
  color: white;
}
#mid-text{
  color: rgb(3,219,252);
  font-size: 110%;
}
.form-container .btn-sbmt:hover {
  opacity: 1;
}
.img-text{
	font-size: 2vw;
	margin-top: -50%;
	margin-left: 10%;
}