* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}

.page {
  margin-top: 50px; 
  width: auto;
}

.navbar {
  width: 100%;
  background-color:white;
  box-sizing: content-box;
  height: 10%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 400px 1fr;
  z-index: 5;
}


.navbar a {
  box-sizing: content-box;
  text-decoration: none;
  float: left;
  color: black;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 14px;
}

#logo {
  box-sizing: border-box;
  grid-column-start: 1;
  max-height: 150px;
  max-width: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2.5%;
  place-self: center center;

}

.links {
  grid-column-start: 2;
  place-self: end right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-block {
  height: 50%;
  background-color: rgba(133,199,202); 
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  color: white;
  font-family:Arial, Helvetica, sans-serif;
}


.top-block p {
  font-weight: bold;
}

.top-block-info {
  padding:50px;
  width: 25%;
}

.top-block-info .slogan {
  padding-bottom: 25px;
  text-transform: uppercase;
  font-weight: normal;
}
​
.button-bar{
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-block{
  height: 50%;
  background-color: rgba(254,241,173);
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
}

.intro-block-text p {
  font-weight: bold;
}

.intro-block-info {
  padding:50px;
  width: 50%;
}

.intro-block-text {
  width: 50%;
}

.intro-block-info * {

  color: black;
}

.intro-block-info, .cards, .card, .card-text {
  text-align: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 10px;

}

.intro-block-info h1 {
  text-transform: uppercase;
}

.intro-block-info .cards {
  padding-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.intro-block-info .cards .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-end; */
  height: 33%;
  width: 30%;
  background-color: white;
  box-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
