<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="events.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="page">

        <div class="mainEvent">
        <img src = "https://live.staticflickr.com/65535/49515633156_5e9722ed3c_b.jpg">
        <div class="card text">
          <p class="date">Friday, August 18th</p>
          <h1>Boulevard of Dreams</h1>
          <div class="bar"></div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus. Curabitur orci metus, porta in eros a, consectetur aliquet nisi. Maecenas in augue cursus, porta enim a, dignissim lectus.</p>
          <button class="special-button" type="button" name="button">Refer a Child</button>
          <div class="dots">
            <span class="dot active" onclick=""></span>
            <span class="dot active" onclick=""></span>
            <span class="dot active" onclick=""></span>
          </div>
        </div>




      </div>
      <div class="prevEvent">
        <h1>Previous Events</h1>
        <div class="cards">
          <div class="card_col">
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
          </div>
          <div class="card_col">
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
          </div>
          <div class="card_col" id="card_col_3">
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
            <div class="card">
              <h2>Event</h2>
              <div class="bar"></div>
              <p class="date">Friday, August 18th</p>
              <img src="https://live.staticflickr.com/65535/49515098063_4cf5bba2f0_b.jpg" alt="img">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fringilla, odio vitae accumsan tristique, nisi arcu tempor enim, eget tristique ex lectus sit amet enim. Duis cursus hendrerit dapibus.</p>
            </div>
          </div>



        </div>
      </div>
    </div>
    <script src="../main.js" type="text/javascript"></script>
  </body>
</html>