<!DOCTYPE html>
<html>

<body>

<h1>Refer a Child</h1>




<div id = "qualifications">
  
    <h2>Qualifications for Referring a Child</h2>
  <ul>
    <li>Child must be between the ages of 3 and 18</li>
    <li>Child must have a qualifying critical or chronic illness that is verifiable by a physician</li>
    <li>Child has never had a dream granted from any wish-granting organization</li>
    <li>Child’s dream must be his or her own (not that of a parent, guardian, etc.)</li>
    <li>Child must be able to directly communicate his or her own dream to the Dream Factory</li>
    
  </ul>
   <input type = "checkbox" name = "iunderstandcheck" id = "referralcheck">
   <label for = "iunderstandcheck">I understand these conditions and want to refer my child.</label>
  <p>Questions? Please Contact us <a href="#Contact" id = "ContactLink">here!</a></p>
    <button routerLink = "geninfo">Next</button>

</div>
   
  

      <h3><a title = "Lookwhoitis" routerLink = "mycomponent">'Sup</a></h3>
  
 <h3><a title = "Lookwhoitis" routerLink = "../waystohelp/donation">'Sup it's Kayla</a></h3>

<form [formGroup] = "myForm">

  <h2>Child Referral Form</h2>

  Child's Name<br>
  <input type = "text" name = "firstname" placeholder = "First Name">
  <input type = "text" name = "lastname" placeholder = "Last Name">


  <p></p>
  Child's Birthday<br>
  <input type = "date" name = "birthday">


  <p></p>
  Child's Address<br>
  <input type = "text" name = "addressC" placeholder = "Street Address"><br>


  <select name="Countries">
    <option value="volvo">United States</option>
    <option value="saab">Canada</option>
    <option value="fiat">Mexico</option>
  </select><br>

  <input type = "number" name = "zip" placeholder = "Zipcode"><br>
  <input type = "text" name = "city" placeholder = "City"><br>
  <input type = "text" name = "state" placeholder = "State"><br>
  <input type = "tel" name ="numberC" placeholder = "Child's Phone Number">

  <p></p>
  Father<br>
  <input type = "text" name = "fatherFirstName" placeholder = "First Name"><br>
  <input type = "text" name = "fatherLastName" placeholder = "Last Name"><br>
  <input type = "tel" name = "numberF" placeholder = "Father's Phone Number">

  <p></p>
  Mother<br>
  <input type = "text" name = "momFirstName" placeholder = "First Name"><br>
  <input type = "text" name = "momLastName" placeholder = "Last Name"><br>
  <input type = "tel" name = "numberM" placeholder = "Mother's Phone Number">

  <p></p>
  Child's Condition<br>
  <select name="Condition">
    <option value="volvo">Condition 1</option>
    <option value="saab">Condition 2</option>
    <option value="fiat">Condition 3</option>
  </select><br>

  <p></p>
  Child's Dream<br>
  <input type = "text" name = "childDream" placeholder = "Enter your Child's dream" id = "childDream">


  <p></p>
  Referrer<br>
  <input type = "text" name = "referrerFirstName" placeholder = "First Name"><br>
  <input type = "text" name = "referrerLastName" placeholder = "Last Name"><br>
  <input type = "tel" name = "numberR" placeholder = "Referrer's Phone Number">

  <p></p>
  Physician<br>
  <input type = "text" name = "physicianFirstName" placeholder = "First Name"><br>
  <input type = "text" name = "physicianLastName" placeholder = "Last Name"><br>
  <input type = "tel" name = "numberP" placeholder = "Physician's Phone Number">

  <p></p>
  Social Worker<br>
  <input type = "text" name = "socialFirstName" placeholder = "First Name"><br>
  <input type = "text" name = "socialLastName" placeholder = "Last Name"><br>
  <input type = "tel" name = "numberS" placeholder = "Social Worker's Phone Number" id = "sPhone">


  <p></p>
  <button>Submit</button>


</form>


</body>
</html>
