      <div class = "navbar">
         <a id =  "home" href = "" class = "image" routerLink = "">
        <img id = "logo" src = "https://i.imgur.com/lRNNJFE.png" />
        </a>
        <div class="links">
        <a id =  "about" href = "#About" routerLink = "/about">About</a>
        <a id =  "events" href = "#Events" routerLink = "/events">Events</a>
        <a id =  "contact" href = "#Contact" routerLink = "/contactus">Contact Us</a>
        <a id =  "volunteer" href = "">Volunteer</a>
        <a id =  "child" href = "#" routerLink = "waystohelp/referral">Refer a Child</a>
        <button id =  "donate" class =  "button" href = "#Donate" routerLink = "/waystohelp/donation">Donate</button>
        </div>
    </div>