
<img src="https://cdn.greatnonprofits.org/images/logos/dream-factory-logo0.jpg">

<a [routerLink]="['/']">
  <h1>Dream Factory Inc.</h1>
</a>
<div class = "navbar">
  <a href = "#About" routerLink = "/about">ABOUT</a>
  <a href = "#Help">WANT TO HELP?</a>
  <a href = "#Events">EVENTS</a>
  <a href = "#Contact">CONTACT US</a>
  <a href = "#Donate" routerLink = "/waystohelp/donation">DONATE</a>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->